<!--<div> 
  <app-menu></app-menu>
</div>-->
<ion-header>
  <ion-toolbar>
    <ion-title  color="primary">Faire une transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-button color="light" (click)="lister()" >lister</ion-button>
        </div>
  <form  (ngSubmit)="onSubmitForm()" [formGroup]="transactionForm" >
      <div id="r1">
          <ion-item>
            <div>
            <ion-label>Type de transaction</ion-label>
            </div>
            <div>
            <ion-button color="primary" (click)="envoi()" >Envoi</ion-button>
            </div>
            <div>
            <ion-button color="light" (click)="retrait()" >Retrait</ion-button>
            </div>
          </ion-item>
      </div>
    <span *ngIf="echange==true">
        <div >
            <ion-item>
              <ion-label  position="floating">Code de la transaction</ion-label>
              <ion-input type="number" formControlName="CodeTransaction" class="form-control" ></ion-input>
            </ion-item>
        </div>
        <div id="r2"   >
            <ion-item>
              <ion-label  position="floating">CNI du destinataire</ion-label>
              <ion-input type="number" formControlName="CNIdestinataire" class="form-control" ></ion-input>
            </ion-item>
        </div>
    </span>
    <span *ngIf="nonEchange==true">
        <div id="e1" >
            <ion-item>
                <ion-label  position="floating">Numéro de l'expéditeur</ion-label>
                <ion-input type="number" formControlName="NumeroExpediteur" class="form-control"ngModel ></ion-input>
            </ion-item>
        </div>
        <div id="e2" >
            <ion-item>
              <ion-label  position="floating">Numéro du destinataire</ion-label>
              <ion-input type="number" formControlName="NumeroDestinataire" class="form-control" ></ion-input>
            </ion-item>
        </div>
        <div >
            <ion-item>
              <ion-label  position="floating">Nom complet de l'expediteur</ion-label>
              <ion-input type="text" formControlName="NomCompletExpediteur" class="form-control" ></ion-input>
            </ion-item>
        </div>
        <div id="e3">
            <ion-item>
              <ion-label  position="floating">Nom complet du destinataire</ion-label>
              <ion-input type="text" formControlName="NomCompletDestinataire" class="form-control" ></ion-input>
            </ion-item>
        </div>
    </span>
    
      <div >
        <ion-item>
          <ion-label  position="floating">Montant</ion-label>
          <ion-input type="number" formControlName="Montant" class="form-control" required></ion-input>
        </ion-item>
      </div>
      
    <ion-button expand="block" type="submit" [disabled]="transactionForm.invalid">Enregistrer</ion-button>
  </form>
</ion-content> 
